.navList {
   list-style: none;
   display: flex;
   gap: 1rem;
   flex-direction: row;
   padding: 0;
   margin-bottom: 1rem;
}

.navList li a {
   color: var(--colour-primary);
   font-weight: bold;
   font-size: 1rem;
   text-decoration: none;
   text-align: center;
}

.navList li a:hover {
   color: var(--colour-primary-2);
}

.title {
   margin: 2rem 0 0 0;
   color: var(--colour-primary-2);
}

.headerStyle {
   background-color: var(--colour-background-light);
   justify-content: center;
   position: sticky;
   align-items: center;
   top: 0;
   display: flex;
   gap: 1rem;
   flex-shrink: 1;
   flex-direction: column;
   text-align: center;
   width: auto;
   height: auto;
}

@media (min-width: 768px) {
   
   .headerStyle {
      align-items: start;
      padding: 0 2rem 0 2rem;
      width: 250px;
      flex-shrink: 0;
      height: 100vh;
      justify-content: flex-start;
   }

   .title {
      margin: 2rem 0 2rem 0;
   }

   .navList {
      flex-direction: column;
      gap: 3rem;
      text-align: start;
   }

   .navList li a {
      color: var(--colour-primary);
      font-weight: bold;
      font-size: 1.4rem;
      text-decoration: none;
   }

   .navList li a:hover {
      background-color: var(--colour-background);
      border-radius: 25px;
      padding: 1rem;
   }

}