.gamesPageStyle {
    display: flex;
    flex-direction: column;
}

.bodyArea {
    flex: 1;
    padding: 1.5rem 1rem 1.5rem 1rem;
}

.buttonRowStyle {
    margin: 15px 0 15px 0;
    display: flex;
    flex-direction: row;
    gap: 1rem;
}

@media (min-width: 768px) {

    .gamesPageStyle {
        flex-direction: row;
    }

    .bodyArea {
        padding: 2rem 1.5rem 2rem 1.5rem
    }

}