.searchBarStyle {
    display: flex;
    flex-direction: row;
    gap: 1rem;
}

.searchBarStyle {
    width: 35vw;
    background: var(--colour-background-light);
    color: white;
    height: 5vh;
    border-radius: 25px;
    font-size: 1.5rem;
    padding: 0 1rem 0 1rem;
    border-color: var(--colour-static-blue);
}

.dataResultListStyle {
    padding: 10px;
    border: solid 1px var(--colour-static-blue);
    display: flex;
    flex-direction: column;
    color: white;
    gap: 10px;
    overflow-y: auto;
    max-width: 250px;
    background: var(--colour-background-light);
}

.dataResultStyle:hover {
    opacity: 50%;
}